@import "./variables.scss";
@import "./mixin.scss";

@keyframes scrollani {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(30%);
    }
}
.header {
    position: fixed;
    top: 0;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 190px);
    height: 110px;
    transition: $all;
    background-color: white;
    .burger-head {
        display: none;
    }
    .logo {
        margin-left: 56px;
        img {
            width: 183px;
        }
    }
    .head-menu {
        width: 70%;
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            padding: 0;
            li {
                margin-right: 8%;
                display: inline-block;
                a {
                    color: $black;
                    font-size: 1.8rem;
                    font-weight: bold;
                }
            }
            .head-contact {
                display: none;
            }
        }
    }
}
.header.on {
    transform: translateY(-200%);
    transition: $all;
}
.header.stick {
    transform: translateY(0);
    transition: $all;
}
.care-about {
    width: 4650px;
    position: absolute;
    top: -87px;
    left: -160px;
    z-index: -1;
    transform: rotate(90deg);
    transform-origin: left bottom;
    span.text {
        font-size: 40rem;
        color: $grey-1;
        font-family: "Arvo", serif;
    }
}
.ct-scrl-top {
    position: absolute;
    top: 0;
    right: 0;
    .contact {
        transition: $all;
        position: fixed;
        z-index: 1030;
        top: 0;
        width: 190px;
        height: 190px;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        .ct-content {
            text-align: center;
            img {
                margin-bottom: 15px;
            }
            .contact-text {
                color: white;
                font-size: 1.6rem;
                font-family: "Arvo", serif;
            }
        }
    }
    .scroll {
        cursor: pointer;
        margin-top: 190px;
        width: 190px;
        height: 769px;
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $all;
        .scrl-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            transform: rotate(90deg);
            .text-scrll {
                font-family: "Arvo", serif;
                font-size: 1.6rem;
            }
            .scrll-line {
                margin-left: 20px;
                width: 139px;
                height: 1px;
                background-color: black;
                animation: scrollani 2s linear infinite alternate;
            }
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
.top-r {
    margin-top: 110px;
    position: relative;
    z-index: 1;
    width: calc(100vw - 190px);
    .img-r {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        max-width: 100%;
        height: auto;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text-r-cont {
            width: 70%;
            min-height: 710px;
            background-color: $bg-grey;
            margin: 5% auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 7%;
            margin-bottom: 3.1%;
            .text-r {
                z-index: 3;
                max-width: 430px;
                width: 100%;
                margin-right: 10%;
                .title {
                    font-size: 3.2rem;
                    font-weight: bold;
                    color: $grey;
                    &:after {
                        margin: auto;
                        content: "";
                        display: block;
                        width: 95%;
                        height: 10px;
                        background-color: $yellow;
                    }
                }
                .title:first-of-type {
                    text-indent: -16px;
                }
            }
        }
    }
}
.aim {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .aim-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        .left {
            max-width: 520px;
            width: 55%;
            .text {
                line-height: 40px;
                font-size: 1.8rem;
                font-weight: bold;
                color: $black-1;
            }
        }
        .right {
            position: relative;
            z-index: 2;
            width: 44%;
            max-width: 740px;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            .img {
                max-width: 100%;
                height: auto;
                img {
                    max-width: 100%;
                }
                .carrot-cut {
                    display: none;
                }
            }
            .nd {
                max-width: 100%;
                height: auto;
                position: absolute;
                z-index: 4;
                top: 26%;
                left: 2px;
            }
            .rd {
                margin-top: 8%;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

// .aim {
//     width: 100%;
//     display: flex;
//     justify-content: flex-end;
//     flex-wrap: wrap;
//     .aim-content {
//         position: relative;
//         width: 90%;
//         .left {
//             padding: 12% 0;
//             max-width: 520px;
//             width: 55%;
//             .text {
//                 line-height: 40px;
//                 font-size: 1.8rem;
//                 font-weight: bold;
//                 color: $black-1;
//             }
//         }
//         .right {
//             position: absolute;
//             top: 0;
//             right: 0;
//             width: 100%;
//             max-width: 740px;
//             justify-content: flex-end;
//             flex-wrap: wrap;
//             .right-content {
//                 // .img {
//                 //     max-width: 100%;
//                 //     height: auto;
//                 //     img {
//                 //         width: 100%;
//                 //     }
//                 // }
//                 .st{
//                     display: flex;
//                     justify-content: flex-end;
//                 }
//                 .nd {
//                     max-width: 100%;
//                     height: auto;
//                     position: absolute;
//                     z-index: 4;
//                     top: 25%;
//                     left: 0;
//                 }
//                 .rd {
//                     margin-top: 4%;
//                     display: flex;
//                     justify-content: flex-end;
//                 }
//             }
//         }
//     }
// }
.philosophy {
    width: 100%;
    margin: auto;
    margin-bottom: 8%;
    .title {
        text-align: center;
        h2 {
            display: inline-block;
            text-align: center;
            color: $black-1;
            font-size: 3.2rem;
            padding: 0 10px;
            span {
                display: block;
                font-size: 1.6rem;
                color: $grey-2;
                font-family: "Arvo", serif;
                font-weight: normal;
            }
            &:after {
                content: "";
                display: block;
                width: 120%;
                height: 20px;
                background-color: $yellow;
                margin-top: -23px;
                margin-left: -10%;
            }
        }
    }
    .content {
        margin-top: 3%;
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            flex-wrap: wrap;
            li {
                width: 33%;
                text-align: center;
                .num {
                    font-size: 4.5rem;
                    font-family: "Arvo", serif;
                    font-weight: normal;
                }
                .first {
                    color: $ocean;
                }
                .second {
                    color: $green;
                }
                .third {
                    color: $leaves;
                }
                .text {
                    font-size: 2.5rem;
                    color: $black-1;
                    font-weight: bold;
                }
            }
            .center {
                border-left: 1px solid $bd-grey;
                border-right: 1px solid $bd-grey;
            }
        }
    }
}
.work {
    position: relative;
    .layer {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        z-index: -1;
        img {
            height: 100%;
        }
    }
    .title {
        text-align: center;
        h2 {
            display: inline-block;
            text-align: center;
            color: $black-1;
            font-size: 3.2rem;
            padding: 0 10px;
            span {
                display: block;
                font-size: 1.6rem;
                color: $grey-2;
                font-family: "Arvo", serif;
                font-weight: normal;
            }
            &:after {
                content: "";
                display: block;
                width: 120%;
                height: 20px;
                background-color: $yellow;
                margin-top: -23px;
                margin-left: -10%;
            }
        }
    }
    .text {
        margin: auto;
        font-size: 1.8rem;
        color: $black-1;
        font-weight: bold;
        max-width: 1120px;
        width: 100%;
        letter-spacing: 1px;
        letter-spacing: 0px;
        margin-top: 2.8%;
        margin-bottom: 5%;
    }
    .work-main {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-bottom: 12.5%;
        .content {
            margin-top: -3px;
            width: 85%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .left {
                .left-content {
                    width: 100%;
                    h3 {
                        font-size: 2.5rem;
                    }
                    ul {
                        margin-top: 10px;
                        li {
                            list-style: none;
                            font-size: 1.8rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            margin-bottom: 10px;
                            img {
                                margin: 10px 20px 0 0;
                            }
                            &:before {
                                margin: 10px 20px 0 0;
                                font-size: 1.2rem;
                                content: "\f067";
                                font-family: "FontAwesome";
                            }
                        }
                    }
                    .icon {
                        margin-top: 4.4%;
                        img {
                            transition: $all;
                        }
                        &:hover {
                            opacity: 0.8;
                            img {
                                transform: translateX(10%);
                            }
                        }
                    }
                }
                width: 39%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .blue {
                h3 {
                    display: inline-block;
                    &:after {
                        display: block;
                        width: 100%;
                        height: 5px;
                        content: "";
                        background-color: $blue;
                    }
                }
                ul {
                    li {
                        &::before {
                            color: $blue;
                        }
                    }
                }
            }
            .green {
                h3 {
                    display: inline-block;
                    &:after {
                        display: block;
                        width: 100%;
                        height: 5px;
                        content: "";
                        background-color: $green-2;
                    }
                }
                ul {
                    li {
                        &::before {
                            color: $green-2;
                        }
                    }
                }
            }
            .orange {
                h3 {
                    display: inline-block;
                    &:after {
                        display: block;
                        width: 100%;
                        height: 5px;
                        content: "";
                        background-color: $orange;
                    }
                }
                ul {
                    li {
                        &::before {
                            color: $orange;
                        }
                    }
                }
            }
            .right {
                width: 51%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
.company {
    padding: 5% 0;
    background-color: $yellow;
    .title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2.2%;
        span {
            display: block;
            font-size: 1.6rem;
            color: $grey-com;
            font-family: "Arvo", serif;
            font-weight: normal;
        }
    }
    .content {
        max-width: 960px;
        margin: auto;
        width: 100%;
        ul {
            list-style: none;
            li {
                position: relative;
                border-top: 1px solid $yellow-1;
                padding: 20px 0;
                display: flex;
                justify-content: flex-start;
                .left {
                    width: 145px;
                    span {
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: $black-1;
                    }
                }
                .right {
                    p {
                        font-size: 1.6rem;
                        margin-bottom: 2px;
                    }
                }
                &::before {
                    position: absolute;
                    top: -1px;
                    left: 0;
                    content: "";
                    width: 145px;
                    height: 2px;
                    display: block;
                    background-color: #2b2b2b;
                }
            }
        }
    }
}
.mess-us {
    min-height: 390px;
    background-color: $black-1;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    .btn-mess {
        display: inline-block;
        font-size: 2rem;
        width: 415px;
        height: 70px;
        background-color: white;
        font-size: 2rem;
        color: $black-1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-top: 38px;
        transition: $all;
        &:hover {
            background-color: $yellow;
        }
    }
}
.footer {
    border-top: 1px solid white;
    height: 80px;
    background-color: $black-1;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 1.8rem;
        color: white;
    }
}
@include CSSIE {
    .mess-us {
        .mess-content {
            transform: translateY(75%);
        }
    }
    .top-r .top-content .text-r-cont .text-r {
        margin-top: 25%;
    }
}
@media screen and (max-width: 1024px) {
    .top-r {
        .img-r {
            img {
                max-width: 66%;
            }
        }
    }
    .work {
        padding: 20px;
        .layer {
            display: none;
        }
        .text {
            width: 80%;
        }
        .work-main {
            .content {
                width: 90%;
                .left {
                    margin: 10px 0;
                    width: 100%;
                    height: unset;
                }
                .right {
                    width: 100%;
                }
            }
        }
    }
    .company {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 80px;
        .logo {
            margin-left: 20px;
        }
        .head-menu {
            position: fixed;
            top: 0;
            width: 100%;
            overflow: hidden;
            height: 0;
            background-color: white;
            transition: $all;
            ul {
                display: block;
                li {
                    text-align: center;
                    display: block;
                    margin: 20px 0;
                }
                .head-contact {
                    display: block;
                }
            }
        }
        .head-menu.expand {
            height: 100vh;
        }
        .burger-head {
            z-index: 1050;
            position: relative;
            width: 30px;
            height: 30px;
            display: block;
            margin-right: 20px;
            span {
                transition: $all;
                position: absolute;
                top: 50%;
                width: 100%;
                height: 1px;
                background-color: $black-1;
            }
            span:first-of-type {
                transform: translateY(-15px);
            }
            span:last-of-type {
                transform: translateY(15px);
            }
        }
        .burger-head.expand {
            span {
                transform: rotate(45deg);
            }
            span:first-of-type {
                transform: translateY(0) rotate(45deg);
            }
            span:last-of-type {
                transform: translateY(0) rotate(135deg);
            }
        }
    }
    .work {
        .title {
            h2 {
                &:after {
                    height: 10px;
                    width: 100%;
                    margin-left: 0;
                    margin-top: -13px;
                }
            }
        }
    }
    .top-r {
        margin-top: 80px;
        width: 100%;
        padding: 0 20px;
        .img-r {
            img {
                max-width: 50%;
            }
        }
        .top-content {
            .text-r-cont {
                width: 100%;
                min-height: unset;
                padding: 22% 0;
                margin-right: 0;
                .text-r {
                    margin-right: 5%;
                    font-size: 2rem;
                    max-width: unset;
                    width: unset;
                }
            }
        }
    }
    .ct-scrl-top {
        display: none;
    }
    .philosophy {
        margin: 30px 0;
        padding: 0 20px;
        .title {
            h2 {
                &:after {
                    height: 10px;
                    width: 100%;
                    margin-left: 0;
                    margin-top: -13px;
                }
            }
        }
        .content {
            ul {
                li {
                    .num {
                        font-size: 2rem;
                    }
                    .text {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .aim {
        padding: 0 20px;
        .aim-content {
            .left {
                width: 100%;
                max-width: unset;
            }
            .right {
                margin-top: 5%;
                width: 100%;
                .nd {
                    left: 0;
                }
            }
        }
    }
    .care-about {
        width: 4000px;
        span.text {
            font-size: 35rem;
        }
    }
}
@media screen and (max-width: 576px) {
    .header {
        .logo {
            img {
                width: 130px;
            }
        }
    }
    .top-r {
        .top-content {
            .text-r-cont {
                .text-r {
                    .title {
                        font-size: 1.6rem;
                        &:after {
                            height: 4px;
                        }
                    }
                }
            }
        }
    }
    .care-about {
        left: -100px;
        span.text {
            font-size: 22rem;
        }
    }
    .aim {
        .aim-content {
            width: 100%;
            .left {
                .text {
                    line-height: unset;
                }
            }
            .right {
                .img {
                    .carrot-cut {
                        display: block;
                    }
                    .carrot {
                        display: none;
                    }
                }
            }
        }
    }
    .work {
        .text {
            width: 100%;
        }
        .work-main {
            padding: 0;
            .content {
                width: 100%;
                .left {
                    .left-content {
                        ul {
                            li {
                                font-size: 1.4rem;
                            }
                        }
                        .icon {
                            width: 200px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .philosophy {
        .content {
            ul {
                li {
                    width: 100%;
                    margin-top: 20px;
                    p {
                        width: 80%;
                        margin: auto;
                        br {
                            display: none;
                        }
                    }
                }
                .center {
                    border: none;
                }
            }
        }
    }
    .company {
        .content {
            ul {
                li {
                    display: block;
                    &:before {
                        width: 90px;
                    }
                }
            }
        }
    }
    .mess-us {
        min-height: unset;
        padding: 15% 0;
        .btn-mess {
            width: 200px;
            height: 50px;
            margin-top: 20px;
            font-size: 1.6rem;
        }
    }
    .footer {
        height: 60px;
    }
}
