//Color
$black: #434343;
$black-1: #333333;
$yellow: #ffee31;
$yellow-1: #b2a622;
$grey: #666565;
$bg-grey: #eeeeee;
$grey-1: #f5f5f5;
$grey-2: #939393;
$grey-com: #525252;
$bd-grey: #e5e5e5;
$ocean: #34a2ff;
$blue: #4482bb;
$green: #92d25e;
$green-2: #10a680;
$leaves: #00a078;
$orange: #f68a3b;
$all: all 0.5s ease;
